.bookmarks-container {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    line-height: 1.8em;
}

.bookmark-tag {
    padding-left: 1em;
    padding-right: 1em;
}

.bookmarks {
    background-color: #eee;
}
